# pg __complete sessions already sorts its output
zstyle ':completion:*:*:pg:*:sessions' sort false
# Grouping these completions by description causes them to not be sorted
zstyle ':completion:*:*:pg:*:sessions' list-grouped false
zstyle ':completion:*:*:pg:*:templates' list-grouped false

function _pg() {
    local context state state_descr line curcontext="$curcontext" command template
    local -a opt_args templates sessions
    _arguments -C -A '-*' \
            '-help[{{.help_description}}]' \
            '-version[{{.version_description}}]' \
        + normal \
            '(completion-script)-editor=[{{.editor_description}}]:command:_path_commands' \
            '(completion-script)-output-pane-size=[{{.output_pane_size_description}}]:size:' \
            '(completion-script)-sessions-dir=[{{.sessions_dir_description}}]:sessions directory:_files -/' \
            '(completion-script)-vertical[{{.vertical_description}}]' \
            "(completion-script)1:template:->templates" \
            "(completion-script)2:session:->sessions" \
        + completion-script \
            '(normal)-completion-script=[{{.completion_script_description}}]:shell:({{.completion_script_shell_values}})' \
        && return

    command=${words[1]}
    case $state in
        templates)
            templates=(${(f)"$(_call_program templates $command __complete -shell zsh templates 2>/dev/null)"})
            _describe -t templates $state_descr templates
            ;;
        sessions)
            template=${line[1]}
            sessions=(${(f)"$(_call_program sessions $command __complete -shell zsh sessions $template "${words:1}" 2>/dev/null)"})
            _describe -t sessions $state_descr sessions
            ;;
    esac
}

compdef _pg pg

# vim: filetype=zsh.gotmpl
